@font-face {
    font-family: ivymode;
    src: url('/fonts/IvyMode-Light.ttf');
}

@font-face {
    font-family: ivymoder;
    src: url('/fonts/IvyMode-Regular.ttf');
}

@font-face {
    font-family: product sans;
    src: url('/fonts/Product\ Sans\ Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}

body{
    background-color:rgb(240, 240, 247)
}

.wrapper{
    width: 100%;
    height: 100%;
    max-width: 2000px;
}


#main {
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden !important;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
}

::-webkit-scrollbar {
    display: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

li {
    list-style: none;
    margin: 0 13px;
}

a {
    text-decoration: none;
    color:black;
    /* color: white; */
}

i{
    color: black;
}

.flex {
    display: flex;
    align-items: center;
}

.red {
    color: red;
    letter-spacing: 5px;
    font-size: 20px;
}

.black {
    color: black;
}

/* Nav Top Css */

#nav_top {
    width: 100%;
    height: 8vh;
    margin: 0 auto;
    padding: 50px 4.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(30px);
        
}

#nav_top>img {
    height: 2.5vw;
}


#nav_top> .nav-icons {
    display: flex;
    gap: 2vmax;
    cursor: pointer;
    font-size:1.2vw;
}
/* Nav Left Css */

/* Bottle Image */

#bottle {
    position: absolute;
    width: 28vw;
    top : 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    /* rotate: -20deg; */
}

#whiteCan {
    width: 15%;
    position: absolute;
    top: 50%;
    left: 65%;
    rotate: -20deg;
    transform: translate(-50%, -50%);
    z-index: 11;
}

#whiteCan2 {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 11;
}
#whiteCan3 {
    width: 30%;
    position: absolute;
    top: 60%;
    left: 75%;
    rotate: 20deg;
    transform: translate(-50%, -50%);
    z-index: 11;
}

/* Page 6 */


footer{
    height: 70vh;
    width: 100%;
    background-color: black;
    color: white;
}

.footer-content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    /* background-color: green; */
    padding: 72px 0;
}

.footer-content .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(192, 189, 189);
    padding-bottom: 3vh;
}

.footer-content .top img{
    width: 20%;
}

.footer-content .top button{
    display: flex;
    gap: 15px;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 2vh;
    padding: 0 4vw;
    align-items: center;
}

.footer-content .center{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(192, 189, 189);
}

.footer-content .center ul a{
    color: white;
}
.footer-content .center ul li{
    margin: 15px 0;
}

.footer-content .bottom h5{
    text-align: right;
    margin: 15px 0;
}

footer .center i{
    color: white;
}

footer #media {
    border: 1px solid white;
    height: 5vh;
    width: 15vw;
    border-radius: 20px;
    margin-top: 3vh;
    padding: 10px 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3vw;
    /* gap: 2vw; */
}

